@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sand-serif;
  overflow-x: hidden;
  height: 100vh;
  background-color: #C26868;
}





* {
  box-sizing: border-box;
  overflow-x: hidden;
}
