@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sand-serif;
  overflow-x: hidden;
  height: 100vh;
  background-color: #C26868;
}

hr {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 1px solid #652c29;
  padding: 0;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
